<div class="container">
  <div class="about-page">
    <h2>About MBTAwesome</h2>
    <p>
      MBTAwesome was created by <a href="https://twitter.com/kadamwhite">K. Adam White</a>
      at <a href="http://bocoup.com" target="_blank">Bocoup</a>, using train arrival predictions
      data <a href="http://www.mbta.com/rider_tools/developers/" target="_blank">generously
      provided by the MBTA</a>.
    </p>
    <p>
      If MBTAwesome is useful to you, please consider <strong><a href="http://paypal.me/kadam/5">
      chipping in</a></strong> to help keep it running! &lt;3
    </p>
    <hr>
    <div style="text-align: center;">
      <p class="color-square">We &hearts; the T<em>!</em></p>
    </div>
    <hr>
    <p>
      <strong>The Backstory</strong>
    </p>
    <p>
      I launched MBTAwesome in February 2015, during a winter that broke several records
      and more than a few of the T&rsquo;s trains. I thought commuters could use the morale boost:
      we certainly needed it, at the time!
    </p>
    <p>
      There are lots of transit apps out there, but not many of them take a particularly
      positive attitude. (Shout-out to my friend Joey Brunelle&rsquo;s "How F'd is the T" for
      my original inspiration&mdash;the success of his site proves the point, I think.)
    </p>
    <p>
      Yes, the T has its share of problems, but can you imagine Boston without it? It&rsquo;s
      really amazing how big an impact the T has on our lives in this city, and that's worth
      celebrating :)
    </p>
    <p>
      <strong>Contact</strong>
    </p>
    <p>
      For app updates (and occasional T-related retweets), follow us on Twitter at
      <a href="https://twitter.com/mbtawesome">@mbtawesome</a>.
    </p>
    <p>
      To learn more about how this app was built, come
      <a href="https://github.com/kadamwhite/mbtawesome">check it out on Github</a>!
    </p>
  </div>
</div>
