@import 'lib/normalize';
@import 'mixins';

// See http://static.incompl.com/awful
* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
}
