@import 'lib/normalize';
@import 'lib/skeleton';
@import 'mixins';

// MBTA Colors
// ==============================================

// http://en.wikipedia.org/wiki/Template_talk:MBTA_color
$mbta-red = #fa2d27;    // (formerly #c80000)
$mbta-orange = #fd8a03; // (formerly #fe6700)
$mbta-green = #008150;  // (formerly #11773c)
$mbta-blue = #2f5da6;   // (formerly #00009c)
$mbta-silver = #9a9c9d; // (formerly #8d8787)
$mbta-rail = #9d1582;   // (formerly #b60ea0)
$mbta-boats = #06f;

// Depends on mixins and colors
@import 'lib/spinkit-rotating-plane';


// Global Styles
// ==============================================

// See http://static.incompl.com/awful
* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
}

a {
  text-decoration: none;
}


// Header
// ==============================================

.top-nav {
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;

  h1, p {
    margin: 0;
    font-size: 2.5rem;
  }
}


// List Buttons
// ==============================================

// Mixin
mbta-color( $color ) {
  background-color: $color;
  border-color: $color;

  &:focus, &:hover, &:active {
    background-color: darken( $color, 20% );
    border-color: darken( $color, 20% );
  }
}

coloring( $color ) {
  .button {
    mbta-color( $color );
  }
  .branch {
    border-left: 10px solid darken( $color, 10% );
  }
}

// Train Indicators
triangle-up( $size = 20px ) {
  width: 0;
  height: 0;
  border-left: ( $size / 2 ) solid transparent;
  border-right: ( $size / 2 ) solid transparent;
  border-bottom: ( $size / 2 ) solid black;
}

triangle-down( $size = 20px ) {
  width: 0;
  height: 0;
  border-left: ( $size / 2 ) solid transparent;
  border-right: ( $size / 2 ) solid transparent;
  border-top: ( $size / 2 ) solid black;
}

.station,
.line {
  list-style-type: none;
  display: block;
  height: auto;
  padding: 0;
  text-transform: none;

  h2, h3, p {
    padding: 5px 10px;
    margin: 0;
    font-size: 2rem;
  }

  .button, a {
    display: block;
    font-weight: normal;
    color: white;
  }
}

// Coloring for home screen line links
.line {
  // Per-list-item coloring (class goes on <li>)
  &.red {
    mbta-color( $mbta-red );
  }
  &.orange {
    mbta-color( $mbta-orange );
  }
  &.blue {
    mbta-color( $mbta-blue );
  }
}

// Per-list coloring (class goes on <ul>)
.stations {

  li {
    list-style-type: none;
  }

  .button {
    margin: 0;
    color: white;
  }

  &.red {
    coloring( $mbta-red );
  }
  &.orange {
    coloring( $mbta-orange );
  }
  &.blue  {
    coloring( $mbta-blue );
  }

  ul.branches {
    margin: 0;
    background-color: $white;
    text-align: right;

    ul {
      margin-left: 1.5rem;
      margin-bottom: 0;
    }
  }
}

.trains {
  overflow: hidden;
  max-height: 13px;

  .train {
    display: inline-block;
    overflow: visible;
  }

  &.up {
    margin: 3px 0 0;
    text-align: left;
    .train {
      vertical-align: top;
      triangle-up();

      &.scheduled {
        border-bottom-color: #666;
      }
    }
  }
  &.down {
    margin: 0 0 3px 0;
    text-align: right;
    .train {
      vertical-align: top;
      triangle-down();

      &.scheduled {
        border-top-color: #666;
      }
    }
  }
}
