// Responsive Mixins
// ==============================================

// Larger than mobile
$xs-screen = 400px;
// Larger than phablet (also when the skeleton grid becomes active)
$sm-screen = 550px;
// Larger than tablet
$md-screen = 750px;
// Larger than desktop
$lg-screen = 1000px;
// Larger than desktop HD
$xl-screen = 1200px;

respond-below($width) {
  media = 'all and (max-width: %s)' % $width;
  @media media {
    {block}
  }
}

respond-above($width) {
  media = 'all and (min-width: %s)' % $width;
  @media media {
    {block}
  }
}

respond-between($min-width, $max-width) {
  $max-width = $max-width - 1;
  media = 'all and (min-width: %s) and (max-width: %s)' % ($min-width $max-width);
  @media media {
    {block}
  }
}

// Animation Mixins
// ==============================================

animate( $rule ) {
  -webkit-animation: $rule;
  -moz-animation: $rule;
  -o-animation: $rule;
  animation: $rule;
}
