<div class="container">
  <div class="lg-max-ten-columns">

    <h1>{{ line.name }}</h1>

    <hr class="divider-{{ line.slug }}" />

    <div class="line-status" data-hook="line-status"></div>

    <div class="alert-list" data-hook="alert-list"></div>

    <ul class="stations {{ line.slug }}"></ul>

    <small>
      <em>
        Black arrows represent active trips, grey arrows represent scheduled trips
      </em>
    </small>

  </div>
</div>
