<div class="error-page error-404">
  <div class="error-square">
    <h1 class="sr">404: page not found!</h1>
    </h1>
  </div>

  <h3>End of the Line</h3>

  <p><em>The page you were looking for is not here. Try one of these:</em></p>

  <ul class="row lines">
    <li class="line three columns">
      <h2 class="line button blue">
        <a href="/blue">Blue Line</a>
      </h2>
    </li>

    <li class="line three columns">
      <h2 class="line button orange">
        <a href="/orange">Orange Line</a>
      </h2>
    </li>

    <li class="line three columns">
      <h2 class="line button red">
        <a href="/red">Red Line</a>
      </h2>
    </li>

    <li class="line three columns">
      <h2 class="line button green">
        <a href="/green">Green Line</a>
      </h2>
    </li>

  </ul>

</div>
