# NPM
node_modules/

# Bower: Exclude non-source files
public/js/vendor/**/*.html
public/js/vendor/**/*.json
public/js/vendor/**/*.md
public/js/vendor/**/*.txt
public/js/vendor/**/.gitignore
public/js/vendor/**/.npmignore
public/js/vendor/**/CNAME
public/js/vendor/**/LICENSE
# Exclude jQuery source files
public/js/vendor/jquery/src
# Exclude underscore entirely (in favor of lodash)
public/js/vendor/underscore

# Server-Compiled Assets
public/css
public/js/app.min.js
public/js/app.min.map

# App-specific configuration
config.yml

# File used for authoring WIP test suites during development
test.js

# Logs
*.log

# Discify analyzer for browserify bundle
disc.html
