<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">

    <meta name="description" content="A real-time MBTA Subway Status application by K. Adam White. We <3 the T!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" sizes="192x192" href="/images/touch-icon.png">
    <link rel="apple-touch-icon" href="/images/touch-icon.png">

    <link rel="stylesheet" href="/app{{ '.min' | if-prod }}.css" />
  </head>
  <body>
    <nav class="top-nav">
      <a href="/">
        <h1 class="site-title">MBTAwesome</h1>
      </a>
      <a href="/about" class="about-link" title="About MBTAwesome">
        <p><strong>?</strong></p>
      </a>
    </nav>

    {%partial content %}

    <div class="footer">
      <p>
        <small>&copy; 2015 <a href="https://twitter.com/kadamwhite">K. Adam White</a>
        &bull;
        <a href="/about">About MBTAwesome</a></small>
      </p>
      <p>
        <small>Built in Boston at <a href="http://bocoup.com">Bocoup</a></small>
      </p>
    </div>

    <script async src="/app{{ '.min' | if-prod }}.js"></script>
    {%partial partials/analytics %}
  </body>
</html>
