<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">

    <meta name="description" content="A real-time MBTA Subway Status application by K. Adam White. We <3 the T!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="images/touch-icon.png">

    <link rel="stylesheet" href="/css/app{% if production %}.min{% endif %}.css" />
  </head>
  <body>
    <nav class="top-nav">
      {% block top_nav %}
      {% if _homepage %}<h1{% else %}<p{% endif %} class="site-title">
        MBTAwesome
      {% if _homepage %}</h1>{% else %}</p>{% endif %}
      {% endblock %}
    </nav>

    <div class="container">
      {% block main %}
        {# Spinner displays until client app initializes #}
        <div class="loading-spinner">
          <p>Loading</p>
          <div class="rotating-plane"></div>
        </div>
      {% endblock %}
    </div>

    <div class="footer">
    {% block footer %}
      <p>
        Follow <a href="https://twitter.com/mbtawesome">@mbtawesome</a> for app updates!
      </p>
      <p>
        <a href="/">Home</a>
        &bull;
        &copy; 2015 <a href="https://twitter.com/kadamwhite">K. Adam White</a>
      </p>
    {% endblock %}
    </div>

    <script>{% block fixtures %}{% endblock %}</script>
    <script src="/js/vendor/lodash/dist/lodash.compat.min.js"></script>
    <script src="/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/js/vendor/backbone/backbone.js"></script>
    {% block scripts %}
      <script src="/js/app{% if production %}.min{% endif %}.js"></script>
    {% endblock %}
  </body>
</html>
