<h1>{{ name }}</h1>

<div class="line-status"></div>

<div class="alert-list"></div>

<ul class="stations {{ slug }}"></ul>

<small>
  <em>
    Black arrows represent active trips, grey arrows represent scheduled trips
  </em>
</small>
