<div class="trains down">
  {% for train in directions['0'] | reverse %}
  <span
    class="train {{ 'scheduled' if train.scheduled }}"
    title="{{ train.message }}">
  </span>
  {% endfor %}
</div>
<h2 class="button">
  <a href="/{{ line }}/{{ station.station }}">
    {{ station.name }}
  </a>
</h2>
<div class="trains up">
  {% for train in directions['1'] %}
  <span
    class="train {{ 'scheduled' if train.scheduled }}"
    title="{{ train.message }}">
  </span>
  {% endfor %}
</div>
