<div class="container">
  <ul class="lines row">
    <li class="line six columns">
      <h2 class="line button blue">
        <a href="/blue">Blue Line</a>
      </h2>
    </li>
    <li class="line six columns">
      <h2 class="line button orange">
        <a href="/orange">Orange Line</a>
      </h2>
    </li>
  </ul>
  <ul class="lines row">
    <li class="line six columns">
      <h2 class="line button red">
        <a href="/red">Red Line</a>
      </h2>
    </li>
    <li class="line six columns">
      <h2 class="line button green">
        <a href="/green">Green Line</a>
      </h2>
    </li>
  </ul>
</div>
