<ul class="lines">
{% for line in lines %}
  <li class="line">
    <h2 class="line button {{ line.slug }}">
      <a href="/{{ line.slug }}">
        {{ line.name }}
      </a>
    </h2>
  </li>
{% endfor %}
</ul>
