{% extends "layouts/main.tmpl" %}

{% block main %}
  <h1>{{ message }}</h1>
  <h2>{{ error.status }}</h2>
  <pre>{{ error.stack | replace( __dirname, '' ) }}</pre>
{% endblock %}

{% block scripts %}{% endblock %}
