{%extend layouts/main as content %}
<div class="container">
  {%-- Spinner displays until client app initializes --%}
  <div class="loading-spinner">
    <p>Loading</p>
    <div class="rotating-plane"></div>
  </div>
</div>
{%endextend%}
