<h1 class="station-detail {{ line }}">
  {{ station.name }}
</h1>

<div class="alert-list"></div>

<hr class="divider-{{ line }}" />

<ul class="arrival-predictions {{ line }}">
  {% for direction in tripsByDirection %}
  <li>
    <h3>{{ direction.name }}</h3>

    <table>
      <thead>
        <tr>
          <th>
            <acronym title="Estimated Time of Arrival">ETA</acronym>
          </th>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>

      {% if direction.trips.length %}
        {% for trip in direction.trips %}
        <tr {{ 'class="scheduled"' if trip.scheduled }}>
          <td>{{ trip.timeUntil }}</td>
          <td>{{ trip.headsign }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="2">
            <em>No trains in service</em>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </li>
  {% endfor %}
</ul>

{% if station.transfer.length %}
<p class="transfers">
  {% for transfer in station.transfer %}
  <span class="xfer-icon xfer-{{ transfer }}" title="{{ transfer | capitalize }} Line">
    <span>{{ transfer | capitalize }} Line</span>
  </span>
  {% endfor %}
  <strong>Transfers available</strong>
</p>
{% endif %}

<div class="line">
  <h2 class="line button {{ line }}">
    <a href="/{{ line }}">
      Back to {{ line | capitalize }} Line
    </a>
  </h2>
</div>
