<div class="container">

  <h1 class="station-detail {{ line.slug | get-color }}">
    {{ station.name }}
  </h1>

  <div class="alert-list"></div>

  <hr class="divider-{{ line.slug | get-color }}" />

  <ul class="arrival-predictions {{ line.slug | get-color }}" data-hook="predictions-lists"></ul>

  {%if station.transfer %}
  <p class="transfers">
    {%each station.transfer as transfer %}
    {%if transfer | supported-line %}
    <a href="/{{ transfer | transfer-station station.station }}">
    {%endif %}
    <span class="xfer-icon xfer-{{ transfer }}" title="{{ transfer | capitalize }} Line">
      <span class="sr">{{ transfer | capitalize }} Line</span>
    </span>
    {%if transfer | supported-line %}
    </a>
    {%endif %}
    {%endeach %}
    Transfers available
  </p>
  {%endif %}

  <div class="line">
    <h2 class="line button {{ line.slug | get-color }}">
      <a href="/{{ line.slug }}">
        Back to {{ line.name | capitalize }}
      </a>
    </h2>
  </div>
</div>
