/*! adapted from SpinKit v1.0.1 | MIT License | https://github.com/tobiasahlin/SpinKit | Tobias Ahlin */
// Adapted from https://github.com/tobiasahlin/SpinKit, by Tobias Ahlin

spinner( $spinner-size ) {
  $spinner-margin = $spinner-size / 3;
  .rotating-plane {
    width: $spinner-size;
    height: $spinner-size;
    margin: $spinner-margin auto;

    &.small-spinner {
      width: $spinner-margin;
      height: $spinner-margin;
      margin: ( $spinner-margin / 2 ) auto;
    }

    animate( spinkit-rotate-plane 2s infinite ease-in-out );
  }

  &.inline {
    float: left;
    display: inline-block;
    // Position inline with the <p> text alongside which these get floated
    margin: -7px 10px 0 0;
  }
}

.loading-spinner {
  p {
    text-align: center;
    animate( hide-loading-text 0s 1 linear forwards );
  }

  spinner( 60px );
}

@keyframes hide-loading-text {
  0% {
    color: black;
  } 100% {
    color: white;
  }
}

@keyframes spinkit-rotate-plane {
  // Stylus does not appear to expand `transform` to `-webkit-transform`
  // inside of a @keyframes rule, so we have to do that ourselves
  0% {
    background: $mbta-red;
    -webkit-transform: perspective( 120px ) rotateX( 0deg ) rotateY( 0deg );
    transform: perspective( 120px ) rotateX( 0deg ) rotateY( 0deg );
  } 25% {
    background: $mbta-green;
    -webkit-transform: perspective( 120px ) rotateX( -180.1deg ) rotateY( 0deg );
    transform: perspective( 120px ) rotateX( -180.1deg ) rotateY( 0deg );
  } 50% {
    background: $mbta-orange;
    -webkit-transform: perspective( 120px ) rotateX( -180deg ) rotateY( -179.9deg );
    transform: perspective( 120px ) rotateX( -180deg ) rotateY( -179.9deg );
  } 75% {
    background: $mbta-blue;
    -webkit-transform: perspective( 120px ) rotateX( 0deg ) rotateY( -179.9deg );
    transform: perspective( 120px ) rotateX( 0deg ) rotateY( -179.9deg );
  } 100% {
    background: $mbta-red;
    -webkit-transform: perspective( 120px ) rotateX( 0deg ) rotateY( -360deg );
    transform: perspective( 120px ) rotateX( 0deg ) rotateY( -360deg );
  }
}
