/*! adapted from SpinKit v1.0.1 | MIT License | https://github.com/tobiasahlin/SpinKit | Tobias Ahlin */
// Adapted from https://github.com/tobiasahlin/SpinKit, by Tobias Ahlin
$spinner-size = 60px;
$spinner-margin = $spinner-size / 3;

.loading-spinner {
  p {
    text-align: center;
    animate( hide-loading-text 0s 1 linear forwards );
  }

  .rotating-plane {
    width: $spinner-size;
    height: $spinner-size;
    margin: $spinner-margin auto;

    &.small-spinner {
      width: $spinner-margin;
      height: $spinner-margin;
      margin: ( $spinner-margin / 2 ) auto;
    }

    animate( spinkit-rotate-plane 2s infinite ease-in-out );
  }
}

@keyframes hide-loading-text {
  0% {
    color: black;
  } 100% {
    color: white;
  }
}

@keyframes spinkit-rotate-plane {
  0% {
    transform: perspective( 120px ) rotateX( 0deg ) rotateY( 0deg );
    background-color: $mbta-red;
  } 25% {
    transform: perspective( 120px ) rotateX( -180.1deg ) rotateY( 0deg );
    background-color: $mbta-green;
  } 50% {
    transform: perspective( 120px ) rotateX( -180deg ) rotateY( -179.9deg );
    background-color: $mbta-orange;
  } 75% {
    transform: perspective( 120px ) rotateX( 0deg ) rotateY( -179.9deg );
    background-color: $mbta-blue;
  } 100% {
    transform: perspective( 120px ) rotateX( 0deg ) rotateY( -360deg );
    background-color: $mbta-red;
  }
}
