<div class="container">
  <h1 class="station-detail green">
    Green Line
  </h1>

  <hr class="divider-green" />

  <div class="green-line">
    <p>
      <strong>&hearts; Let&rsquo;s hear it for the T! &hearts;</strong><br>
      Limited Green Line real-time predictions are now available.
    </p>
    <ul class="lines row half-columns">
      <li class="line three columns">
        <h2 class="line button green">
          <a href="/green-b">B Branch</a>
        </h2>
        Boston College
      </li>
      <li class="line three columns">
        <h2 class="line button green">
          <a href="/green-c">C Branch</a>
        </h2>
        Cleveland Circle
      </li>
      <li class="line three columns">
        <h2 class="line button green">
          <a href="/green-d">D Branch</a>
        </h2>
        Riverside
      </li>
      <li class="line three columns">
        <h2 class="line button green">
          <a href="/green-e">E Branch</a>
        </h2>
        Heath St
      </li>
    </ul>
    <hr class="divider-green" />
    <p>
      It takes time to upgrade a subway system that&rsquo;s over a century and a half
      old, so predictions are not available for all stations just yet&mdash;but
      the rest are coming soon!
    </p>
  </div>
</div>
