<h1 class="station-detail {{ line }}">
  Green Line
</h1>

<hr class="divider-green" />

<div class="alert-list"></div>

<div class="green-line">
  <h2>&hearts;</h2>
  <p>
    <strong>The green line is awesome!</strong>
    Every day over two hundred thousand people board Green Line trains, traveling
    along routes that in parts date back over a hundred and fifty years.
  </p>
  <p>
    It&rsquo;s the best way to reach Boston landmarks like Fenway Park, or the
    Museum of Fine Art. In the next few years the Green Line will be extended
    into Somerville and Medford, the first line expansion in decades.
  </p>
  <h3>Real-time&hellip; in time</h3>
  <p>
    We don't have real-time predictions for the Green Line yet, but the MBTA is
    working on it. (Unfortunately, a century and a half of moving people around
    didn't leave the Green Line much time for API development&mdash;it&rsquo;s
    got places to be!)
  </p>
  <p>
    We&rsquo;ll be integrating Green Line information as it becomes available.
    For now, system alerts can be seen above.
  </p>
</div>
