<div class="status">
{% if loading %}

  <div class="loading-spinner">
    <div class="rotating-plane small-spinner"></div>
  </div>
  <p>
    <em>Loading...</em>
  </p>

{% elif totalTrainsInService %}

  <hr>

  {#<p><em>I've seen the T look better in other weather</em></p>#}

  <p class="wait-times">
    Average wait:
    {% for dirId, direction in averageWaitTimes %}
    <span>
      {{ direction.wait }}
      {{ 'minute' | pluralize( direction.wait ) }}
      {{ direction.name | lower }}</span>
    {% endfor %}
  </p>

  {# Iterate through both travel directions and render out trains in service #}
  {% for direction in [{ class: 'down', key: '0' }, { class: 'up', key: '1' }] %}
  {% for destination in trainsInService[ direction.key ] %}
  <div class="trains {{ direction.class }}">
    <span
      class="train scheduled"
      title="{{ destination.headsign }} Train">
    </span>
    {{ destination.count }}
    {{ destination.headsign }} trains in service
  </div>
  {% endfor %}
  {% endfor %}

  <hr>

{% elif noTrainsInService %}

  <p><strong>No trains currently in service</strong></p>

{% endif %}
</div>
